div.updown-vote-box {
  border: 1px solid #666;
  padding: 8px;
  margin-left: 3px;
  margin-right: 15px;
  width: 40px;
  text-align: center;
  float: left;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  /* Gradient background */
  background: #fafad2; /* Old browsers */
  background: -moz-linear-gradient(top, #fafad2 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafad2), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fafad2 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fafad2 0%,#ffffff 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #fafad2 0%,#ffffff 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FAFAD2', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #fafad2 0%,#ffffff 100%); /* W3C */

  -webkit-box-shadow: -2px 2px 5px #999999;
  -moz-box-shadow: -2px 2px 5px #999999;
  box-shadow: -2px 2px 5px #999999;
}

div.updown-vote-box div {
  margin: 4px 0;
  padding: 0;
  line-height: 100%;
}

div.updown-vote-box div.updown-up-count,
div.updown-vote-box div.updown-down-count {
  margin: 6px 0;
}

div.updown-vote-box div.updown-down-count,
div.updown-vote-box div.updown-total-count {
  margin-bottom: 8px;
}

div.updown-up-count,
div.updown-down-count {
  font-size: 12pt;
  font-weight: bold;
}

div.updown-up-count, div.updown-pos-count {
  color: #5ebc40;
}

div.updown-down-count, div.updown-neg-count {
  color: #bb5853;
}

div.updown-active {
  margin-left: -.5em !important;
}

img.updown-button {
  cursor: pointer;
}

div.updown-vote-box div.updown-label {}

div.updown-vote-box div.updown-label {
  font-size: 80%;
  margin: 4px 0;
}